<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <h1>Login Page</h1>

    <form action="/profile_page" method="post">
        <section>
            <label for="username">enter your username</label>
            <input type="text" name="username" id="name">
        </section>
        <br>
        <section>
            <label for="password">enter your password</label>
            <input type="text" name="password" id="password">
        </section>
        <br>
        <!-- <section>
            <label for="email">enter your email address</label>
            <input type="text" name="email" id="email">
        </section>
        <br> -->
        <button>Submit</button>
    </form>


</body>

</html>